extends layout.pug

block styles
    //- Custom styles
    link(rel="stylesheet", href="/css/components/seatmap.css")

block content
    //- Page content

    section
        .container
            .row
                .col.s4.m3.l2.input-field
                    input.timepicker#timefrom(type="text", name="timefrom")
                    label(for="timefrom") From
                .col.s4.m3.l2.input-field
                    input.timepicker#timeto(type="text", name="timeto")
                    label(for="timeto") To
                .col.s4.m3.l2.input-field
                    input.datepicker#date(type="text", name="date")
                    label(for="date") Date
                //- .col.s6.m3.l2.input-field
                    input#people(type="number", name="people", min="1", max="99", value="1")
                    label(for="people") Persons
            .row
                .col.s12.m6
                    a.btn.blue.accent-4.center(href="javascript:searchSeats()", style="width: 100%") Search    

            .row
                .col.s12
                    #seatmapcontainer.card.padded-compact.center
                        form#seatmap.overflow-scroll

            .row
                .col.s12
                    .chips.chips-autocomplete#users
                        input.custom-class
            .row
                .col.s12.m6
                    a.btn.blue.accent-4.center.disabled#bookbtn( href="javascript:bookSeats()", style="width: 100%") Book

                 
block scripts
    //- custom scripts
    script(src="/js/lib/moment.min.js")
    script(src="/js/components/seatmap.js")