html
    head
        title Liberty
        include components/styles.pug
        
        block styles
        
    body.index.is-preload
        include components/navbar.pug

        main    
            block content
        
        .fixed-action-btn
            a.btn-floating.btn-large.red(href="javascript:startlistening()")
                i.large.material-icons mic

        include components/footer.pug
        include components/scripts.pug
        
        block scripts
