extends layout.pug

block styles
    //- Custom styles

block content
    //- Page content
    h2.header.blue-text.center.light.shadow-text.grey-shadow Login
    
    .container
        .row
            .card.col.s10.push-s1
                form#loginform.padded-compact.container(action="/user/login", method="post")
                    .row
                        .col.s12.m3.push-m3.input-field
                            input#username(type="text", name="username")
                            label(for="username") Username                        
                    
                        .col.s12.m3.push-m3.input-field
                            input#password(type="password", name="password")
                            label(for="password") Password

                    .row
                        .col.s12.m6
                            a.btn.blue.accent-4.center( href="javascript:submitform()", style="width: 100%") Login
                    
                    .row

                        .col.s12
                            a.btn-flat.left.blue-text.text-accent-4.waves-effect.waves-purple( href="/forgot") Forgot password?
                       
                            a.btn-flat.right.blue-text.text-accent-4.waves-effect.waves-purple( href="/register") Register

                        




                 
block scripts
    //- custom scripts
    script(src="/js/components/login.js")