extends layout.pug

block styles
    //- Custom styles

block content
    //- Page content
    h2.header.blue-text.center.light.shadow-text.grey-shadow Profile
    
    .container
        .row
            .card.medium.col.s10.push-s1
                
                



                 
block scripts
    //- custom scripts