extends layout.pug

block styles
    //- Custom styles

block content
    //- Page content
    h2.header.blue-text.center.light.shadow-text.grey-shadow Register
    
    .container
        .row
            .card.col.s10.push-s1
                
                form#registerform.padded-compact.container(action="/user/create", method="post")
                    
                    .row
                        

                    
                        .col.s12.m3.push-m3.input-field
                            input#name(type="text", name="name")
                            label(for="name") Name

                        .col.s12.m3.push-m3.input-field
                            input#username(type="text", name="username")
                            label(for="username") Username                        
                    
                        .col.s12.m3.push-m3.input-field
                            input#password(type="password", name="password")
                            label(for="password") Password

                        .col.s12.m3.push-m3.input-field
                            input#registration_number(type="text", name="registration_number")
                            label(for="registration_number") Registration Number

                        .col.s12.m3.push-m3.input-field
                            input#email(type="email", name="email")
                            label(for="email") Email

                        .col.s12.m3.push-m3.input-field
                            input#phone(type="text", name="phone")
                            label(for="phone") Phone Number

                        .col.s12.m3.push-m3.input-field
                            input#dob(type="date", name="dob")
                            label(for="dob") Date of birth

                        .col.s12.m3.push-m3.input-field
                            input#course(type="text", name="course")
                            label(for="course") Course

                    .row
                        .col.s12.m6
                            a.btn.blue.accent-4.center( href="javascript:$('#registerform').submit()", style="width: 100%") Register
                    
                    .row
                        .col.s12
                                a.btn-flat.blue-text.text-accent-4.waves-effect.waves-purple( href="/login") 
                                    i.material-icons.left arrow_back
                                    | Login



                 
block scripts
    //- custom scripts