meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

link(rel="stylesheet", href="/css/lib/materialize.min.css")
link(rel="stylesheet", href="/css/lib/MaterialIcons.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="/css/lib/dayshmookh.layout.css")
link(rel="stylesheet", href="/css/lib/aos.css")

//- link(rel="stylesheet", href="/css/navbar.css")

noscript
    link(rel="stylesheet", href="/css/lib/noscript.css")
